
.container {
    width: 70%;
    //height: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4em;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
    color: purple;
    background-color: plum;
    border: purple solid 2px;
}

form {
    text-align: center;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.meme {
    position: relative;
}

input {
    font-size: 1.5em;
    border-radius: 0.5em;
    border: 2px solid black;
}

button {
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: purple;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
    border-radius: 0.5em;
    background-color: plum;
    border: 2px solid purple;
}

button:hover {
    cursor: pointer;
}

img {
    display: block;
    margin: auto;
    max-width: 45em;
    max-height: 45em;
}

.top {
    position: absolute;
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    top: 5px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
}

.bottom {
    position: absolute;
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    bottom: 5px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
}

.time-container {
    text-align: center;
}